PORT=3010
WORKBENCH_DATABASE_URL=REPLACE_WITH_WORKBENCH_RUNTIME_DATABASE_URL
WORKBENCH_MIGRATION_DATABASE_URL=REPLACE_WITH_WORKBENCH_MIGRATION_DATABASE_URL
WORKBENCH_DATABASE_ROLE_PASSWORD=REPLACE_WITH_WORKBENCH_DATABASE_ROLE_PASSWORD
SETTLEMENTS_DATABASE_URL=REPLACE_WITH_SETTLEMENTS_RUNTIME_DATABASE_URL
LEGACY_CONNECTORS_DATABASE_URL=REPLACE_WITH_LEGACY_CONNECTORS_RUNTIME_DATABASE_URL
WORKBENCH_JOB_RECEIPT_STORE=postgres
WORKBENCH_JOB_RECEIPT_RETENTION_DAYS=365
WORKBENCH_METRICS_TOKEN=REPLACE_WITH_DEDICATED_SCRAPE_TOKEN
REDIS_URL=REPLACE_WITH_REDIS_URL
LEDGER_CORE_URL=REPLACE_WITH_LEDGER_CORE_URL
OIDC_ISSUER=REPLACE_WITH_HTTPS_IDENTITY_ISSUER
OIDC_AUDIENCE=urn:mavula:workbench
OIDC_JWKS_URI=REPLACE_WITH_TRUSTED_HTTPS_JWKS_URI
OIDC_TOKEN_ENDPOINT=REPLACE_WITH_HTTPS_TOKEN_ENDPOINT
WORKBENCH_OIDC_CLIENT_ID=REPLACE_WITH_WORKBENCH_CLIENT_ID
WORKBENCH_PRIVATE_JWK_JSON=REPLACE_WITH_PRIVATE_CLIENT_JWK_JSON
LEDGER_CORE_AUDIENCE=urn:mavula:ledger-core
